<div class="flex justify-between  items-center py-5 px-16 bg-white shadow-md">
  <img src="/images/Logo.svg" alt="Logo" class="h-10">

  <nav class="flex flex-row gap-6">
    <a routerLink="/home" class="hover:underline hover:text-blue-900 text-xl font-medium">Home</a>
    <a routerLink="/about" class="hover:underline hover:text-violet-600 text-xl font-medium">About</a>
    <a routerLink="/contact" class="hover:underline hover:text-violet-900 text-xl font-medium">Contact</a>
    <a routerLink="/testimonials" class="hover:underline hover:text-violet-600 text-xl font-medium">Testimonials</a>
  </nav>

  <button class="hover:underline hover:text-violet-600">Contact Me</button>
</div>
